Package: com.rawandahmeds.outlaw
Name: Outlaw
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Premium Bypass Tweak for iKeyboard
Maintainer: Rawand Ahmed
Author: Rawand Ahmed
Section: Tweaks
